body{
    background-color: black;
    color: white;
}
#container{
    display: grid;
    width: 80vh;
    height: 80vh;
    background-color: black;
    margin: auto;
    gap: 2px 2px;
}
.cell{
    width: 100%;
    height: auto;
}